<a id="indice"></a>

<img src="http://www.cidaen.es/assets/img/cidaenNB.png" alt="Logo CiDAEN" align="right">



<br><br><br>
<h2><font color="#004D7F" size=5>Módulo 2</font></h2>



<h1><font color="#004D7F" size=6>Tutorial Tidy Data</font></h1>

<br><br>
<div style="text-align: right">
<font color="#004D7F" size=3>Jacinto Arias</font><br>
<font color="#004D7F" size=3>Curso de Especialista en Ciencia de Datos y Desarrollo de Aplicaciones en la Nube I</font><br>
<font color="#004D7F" size=3>Universidad de Castilla-La Mancha</font>

</div>

---

<h2><font color="#004D7F" size=5>Índice</font></h2>


* [1. Introducción](#section1)
* [2. Tidy Data](#section2)
* [3. Problema #1](#sectionp1)
* [4. Problema #2](#sectionp2)
* [5. Problema #3](#sectionp3)
* [6. Problema #4](#sectionp4)
* [7. Problema #5](#sectionp5)
* [8. Problema #6](#sectionp6)

<a id="section1"></a>
---


# <font color="#004D7F"> 1. Introducción</font>

Ya hemos visto que un formato tabular o relacional es quizás el más organizado o rico en detalles para almacenar nuestros datos. No obstante este formato no garantiza una representación óptima de los datos de cara a minimizar espacio, flexibilidad y facilidad de manipulación.

En un proceso de análisis de datos dedicamos en torno al 80% del tiempo a __limpiar__ los datos (__Data Cleaning__), y aunque en la mayoría de los casos esto incluye una gran cantidad de trabajo transformando nuestros datos o extrayendo información a partir de formatos no estructurados, también se realizan muchas tareas procesando y limpiando datos en formatos estructurados.

El trabajo de un analista o de un científico de datos es el análisis de la información después de haberse recopilado por lo que debemos adaptar su formato para que sea lo más estándar posible y compatible con las herramientas a utilizar. _Puede que el formato original de los datos_ seá más adecuando para su recopilación o directamente sea erróneo.


## Tidy Data

Tidy data es un esfuerzo por crear un estándar en el formato de los datos estructurados de cara a desarrollar __técnicas y tecnologías__ estandarizadas a su vez para manipulación y análisis de datos. Data la enorme cantidad de herramientas disponibles en la comunidad muchas veces acabamos dedicando demasiado tiempo a adaptar la salida de una tecnología concreta para poder utilizarla como entrada de otra. Unas pautas de modelado estandarizadas permitirán que la interfaz de nuevas herramientas se unifique.

Además el modelo relacional propuesto por Codd está planteado en un lenguaje alejado del lenguaje __estadístico__, Tidy Data puede verse como una reinterpretación del modelo relacional en términos naturales y más útiles para el análisis de datos y la estadística. Esto implica también que algunas de las pautas que impone el estandar ayuden también a optimizar la representación de la información no solo a nivel instrumental sino a nivel estadístico.


### Origen

El estándar Tidy data fue propuesto por [Hadley Wickham](http://hadley.nz), un estadístico que ha trabajado tanto en el campo académico como en el empresarial (Director científico en Rstudio). El trabajo original contextualiza el estándar dentro de las herramientas del lenguaje de programación R, no obstante los principios básicos se explican de manera genérica para cualquier conjunto de datos, lo que ha permitido extrapolar sus resultados al conjunto de herramientas para la ciencia de Datos.

El paper puede encontrarse públicamente y es una lectura básica para cualquier profesional de este campo.

> <i class="fa fa-book" style="color:#113D68"></i> [2014 Hadley Wickham. Tidy Data. Journal of Statistical Software](http://vita.had.co.nz/papers/tidy-data.html)


### Definición

El estándar __tidy data__ se basa en tres reglas sencillas:

1. Cada __variable__ es representada por una __columna__.
2. Cada __observación__ representada por una __fila__.
3. Cada __unidad observacional__ es representada por una __tabla__.

Cualquier dataset que no este organizado de esta manera se denomina __messy data__ o datos desorganizados.


### Ejemplo

El siguiente ejemplo muestra un como estructurar un mismo problema de distintas formas, una de ellas tidy.

El problema consta de tres variables:

- `patient` con tres posibles valores (John, Mary, Jane)
- `treatment` con dos posibles valores
- `result` con 5 valores más la posibilidad de estar perdido (-, 16, 3, 2, 11, 1)

Se han realizado una experimentación cruzada en la que se le ha aplicado un tratamiento a cada paciente y se ha medido el resultado. Los datos podrían haberse recopilado de la siguiente manera durante el estudio original:

<table class="table table-hover">
    <thead>
        <tr> <th></th> <th>treatmenta</th> <th>treatmentb</th> </tr> 
    </thead>
    <tbody>
        <tr> <td>John</td> <td>-</td> <td>2</td> </tr>
        <tr> <td>Jane</td> <td>16</td> <td>11</td> </tr>
        <tr> <td>Mary</td> <td>3</td> <td>1</td> </tr>
    </tbody>
</table>

En otro contexto los datos podrían haberse recopilado por tratamiento

<table class="table table-hover">
    <thead>
        <tr> <th></th> <th>John</th> <th>Jane</th> <th>Mary</th> </tr> 
    </thead>
    <tbody>
        <tr> <td>treatmenta</td> <td>-</td> <td>16</td> <td>3</td> </tr>
        <tr> <td>treatmentb</td> <td>2</td> <td>11</td> <td>1</td> </tr>
    </tbody>
</table>

Estos formatos no nos permiten identificar los elementos experimentales, no obstante si nos ceñimos al estándar tidy el resultado es mucho más representativo.

<table class="table table-hover">
    <thead>
        <tr> <th>name</th> <th>treatment</th> <th>result</th> </tr> 
    </thead>
    <tbody>
        <tr> <td>John</td> <td>a</td> <td>-</td> </tr>
        <tr> <td>Jane</td> <td>a</td> <td>16</td> </tr>
        <tr> <td>Mary</td> <td>a</td> <td>3</td> </tr>
        <tr> <td>John</td> <td>b</td> <td>2</td> </tr>
        <tr> <td>Jane</td> <td>b</td> <td>11</td> </tr>
        <tr> <td>Mary</td> <td>b</td> <td>31/td> </tr>
    </tbody>
</table>

El formato tidy nos permite determinar claramente que columnas son observaciones y cuales variables, relaciones funcionales entre ellas, restricciones y una única forma de extraer toda la información del dataset. Además permite identificar mejor cualquier anomalía, como por ejemplo los casos perdidos.

<a id="section2"></a>

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

# <font color="#004D7F"> 2. Data Tidying and Cleaning</font>

En esta práctica plantearemos los mismos supuestos que en el paper original de tidy data y trataremos de obtener el formato tidy utilizando las herramientas de python a nuestra disposición como `pandas` y `numpy`.

No hay una solución única a cada problema ni una receta básica que podamos aplicar, pero si podemos identificar patrones comunes en cada dataset. Como cita Wickham en el paper original:

> _Happy families are all alike; every unhappy family is unhappy in its own way_

> _Leo Tolstoy_



## Objetivos

### Obtener el formato Tidy de los datos

Todos los datasets originales (__raw__) se encuentran en formatos no ordenados y es necesario transformarlos para poder generar su version tidy.


### Utilización de técnicas reproducibles y entender las transformaciones de manera "agnóstica" al lenguaje

En el paper original de tidy data se defininen las operaciones de manera general, explicado las transformaciones sobre los datos de manera independiente o agnóstica a cualquier lenguaje antes de aplicar instrucciones propias de R. Es muy importante no obsesionarse con los detalles instrumentales de herramientas particulares como `pandas` y quedarse con las estrategias y técnicas a nivel teórico.

Intentaremos utilizar funciones de alto nivel y escribir un código lo más reproducible posible, cercado casi al lenguaje natural, que permita entender y reproducir el proceso de transformación con solo leerlo.

Un buen recurso para ir absorbiendo el vocabulario es la siguiente referencia de `pandas` enfocada más al lenguaje de la Ciencia de Datos que a la propia librería.

> <i class="fa fa-book" style="color:#113D68"></i> [Pandas Data Wrangling Cheatsheet](http://cs.umw.edu/~stephen/cpsc219/Pandas_Cheat_Sheet.pdf)

Resulta curioso contrastar el documento anterior con la [fuente original](https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf), la misma hoja orientada al lenguaje `R`, donde la __semántica__ es la misma y solo cambia la __sintaxis__.


### Limpieza adicional de los datos

Además de obtener el formato tidy, vamos a realizar una serie de transformaciones sobre los datos que limpien aun más el formato y obtengan un dataset cómodo y representativo de cara a hacer exploración de datos y modelado.

1. El nombre de las variables cumplirá las restriciones de python en cuanto caracteres, empezará en Mayuscula y utilizara CamelCase.
2. Las variables estarán ordenadas de manera lógica a la unidad observacional representada. En primer lugar colocaremos variables experimentales y en segundo lugar observaciones, además intentaremos preservar órdenes jerárquicos y colocaremos factores o categorias antes de variables numéricas.
3. Los casos del dataset se ordenarán conforme a patrones temporales o alfabéticos en función de sus variables

## Dependencias

Antes de comenzar cargaremos las dependencias necesarias:

In [ ]:
import re
import datetime

import pandas as pd
import numpy as np

## Conjuntos de datos

Se proporcionan los siguientes conjuntos de datos en la carpeta `./data`, en sus versiones desorganizadas y tidy, durante las siguientes secciones estudiaremos los diferentes problemas que plantean.

* `pew-raw.csv`
* `pew-tidy.csv`
* `billboard-raw.csv`
* `billboard-tidy.csv`
* `tb-raw.csv`
* `tb-tidy.csv`
* `weather-raw.csv`
* `weather-tidy.csv`
* `2014-baby-names-raw.csv`
* `2015-baby-names-raw.csv`
* `baby-names-tidy.csv`

<a id="sectionp1"></a>

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

# <font color="#004D7F"> Problema #1: Cabeceras de columnas como valores

Este es uno de los problemas más comunes en datasets desorganizados. Si bien es un formato comprimido que puede resultar útil para su almacenamiento o introducción manual, resulta inconveniente para su análisis ya que no todos los datos están almacenados como valores.

El dataset de ejemplo `pew` explora la relación entre los ingresos y la religión de diversos ciudadanos americanos consultados por un centro de investigación.

In [ ]:
df_pew = pd.read_csv("./data/pew-raw.csv")
df_pew.head(8)

Este dataset tiene las siguientes variables `religion`, `income` y `freqcuency`. No obstante la variable `income` se encuentra representada por las distintas columnas. La versión tidy de este dataset utilizaría una única columna para cada variable.

In [ ]:
df_pew_tidy = pd.read_csv("./data/pew-tidy.csv")
df_pew_tidy.head(8)

Para obtener la versión tidy de este dataset necesitamos realizar las siguientes operaciones:
* Una operación de `reshape` para transformar las columnas que representan un valor (_colvars_) a una sola columna, mapeando el dato correspondiente de la tabla y manteniendo el valor de la religión fijo para dicho caso. En pandas esta operación se denomina `melt`.
* En este caso el dataset se ha ordenado por la variable religión, que debe aparecer la primera por ser el campo de agrupación.
* Las variables deben utilizar CamelCase.

In [ ]:
df_pew_tidi_ex = (df_pew
                   .melt(id_vars=["religion"], var_name = "Income", value_name = "Freq")
                   .sort_values("religion")
                   .rename(columns = {"religion": "Religion"})
                 )

In [ ]:
df_pew_tidi_ex.head(8)

<a id="sectionp2"></a>

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

# <font color="#004D7F"> Problema #2: Cabeceras de columnas como valores, variables redundantes

Este problema es similar al anterior pero añade una capa de complejidad adicional, ya que los valores almacenados en las columnas están codificados como string cuando podrían ser de tipo numérico.

El dataset `billboard` contiene un estudio sobre el ranking que mantiene una canción que entra en la lista de las 100 más populares cada nueva semana a partir de la que entró.

En la representación original tenemos una serie de variables para identificar cada canción como `year`, `artist.inverted`, `track`, `time`, `genre` y una serie de variables observacionales que representan los datos medidos, donde `date.entered` corresponde con la fecha en la que entró la canción en el ranking y 100 variables `x[0-100].week` que representan el ranking para esa semana concreta. En el caso de que la canción saliese antes de la lista el valor para esa columna es `NaN`.

In [ ]:
df_bill = pd.read_csv("./data//billboard-raw.csv")
df_bill.head()

La versión tidy de este dataset muestra una organización mucho más razonable. La fecha y las columnas representando cada semana se han fusionado para representar la fecha de la medición asignandole a dicha entrada el ranking concreto para el resto de datos de la canción. En el caso de que la canción saliese de la lista se ha eliminado dicha observación, ya que el hecho dw que no se encuentre en el dataset representa la existencia de un dato perdido __implícito__.

In [ ]:
df_bill_tidy = pd.read_csv("./data/billboard-tidy.csv")

In [ ]:
df_bill_tidy.head(100)

Para transformar el dataset a un formato tidy necesitamos realizar los siguientes pasos:

- Realizar una operación de `reshaping`(`melt`) para transformar las colvars que representan cada semana en una sola columna, manteniendo los identificadores de cada canción.
- Transformar la variable week resultante en una columna numérica, extrayendo el valor de la semana del string correspondiente. Utilizando expresiones regulares por ejemplo.
- Eliminar los casos perdidos
- Computar la nueva variable fecha `Date` utilizando para ello la fecha de inicio a la que sumamos la semana actual.
- Renombrar y reorganizar las variables para que utilicen CamelCase y se ordenen de manera lógica
- Ordenar el dataset por año y canción.

In [ ]:
def extractWeek(code):
    pattern = "x(\d+)(st|nd|rd|th)\.week"
    match = re.search(pattern, code)
    if match:
        return int(match.group(1))
    else:
        return np.nan

def computeDate(dates, weeks):
    return pd.to_datetime(dates) + pd.to_timedelta(weeks - 1, unit = 'w')

In [ ]:
df_bill_tidy_ex = (df_bill
                    .melt(
                        id_vars = ["track", "artist.inverted", "year", "time", "genre", "date.entered"],
                        var_name = "week",
                        value_name = "Rank")
                    .assign(week = lambda df: df.week.map(extractWeek))
                    .dropna()
                    .assign(Date = lambda df: computeDate(df["date.entered"], df.week))
                    .rename(columns = {
                        "artist.inverted": "Artist", 
                        "track": "Track", 
                        "year": "Year", 
                        "time": "Time", 
                        "genre": "Genre"})
                    [["Year", "Track", "Artist", "Time", "Genre", "Date", "Rank"]]
                    .sort_values(["Year", "Track"])
               )

In [ ]:
df_bill_tidy_ex.head(100)

<a id="sectionp3"></a>

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

# <font color="#004D7F"> Problema #3: Múltiples variables almacenadas en las columnas

Este problema es una generalización del anterior en el que las columnas que representan valores de una variable o `colvars` están codificadas para mezclar varias variables al mismo tiempo.

El dataset `TB`es un estudio médico de la incidencia de la tuberculosis en distintos grupos demográficos por paises. Las variables que contiene son `country`, `year`, `age`, `sex` y `cases`. No obstante el formato original codifica los disintos grupos de género y edad como columnas para contar los casos.

In [ ]:
df_tb = pd.read_csv("./data/tb-raw.csv")
df_tb.head(10)

En este caso el dataset tidy extrae ambas variables género y edad de las distintas colvars para obtener observaciones únicas por cada grupo poblacional.

In [ ]:
df_tb_tidy = pd.read_csv("./data/tb-tidy.csv")
df_tb_tidy.head(10)

Para obtener el dataset tidy hemos de realizar un proceso muy similar al del problema anterior pero generalizando la extracción de valores para varias variables:

- Realizamos un reshaping `melt` para transformar las colvars en una columna `sex_and_age`
- Eliminamos los valores perdidos
- Transformamos la nueva columna `sex_and_age` en dos columnas `sex` y `age`
- Renombramos las variables y nos aseguramos que utilizan CamelCase y ordenamos según corresponda

In [ ]:
def extractSexnAge(code):
    pattern = "(\S)(\d+)(\d{2})"
    match = re.search(pattern, code)
    if match:
        sex = match.group(1)
        age = "{}-{}".format(match.group(2), match.group(3))
        return [sex, age]
    else:
        return [np.NaN, np.NaN]

In [ ]:
df_tb_tidy_ex = (df_tb
                .melt(
                    id_vars = ["country", "year"],
                    var_name = "sex_and_age",
                    value_name = "Cases")
                .dropna()
                .assign(sex_and_age = lambda df: df.sex_and_age.map(extractSexnAge))
                .assign(
                    Sex = lambda df: df.sex_and_age.map(lambda v: v[0]),
                    Age = lambda df: df.sex_and_age.map(lambda v: v[1]),
                )
                .rename(columns = {"country": "Country", "year": "Year"})
                [["Country", "Year", "Sex", "Age", "Cases"]]
            )

In [ ]:
df_tb_tidy_ex.head(10)

<a id="sectionp4"></a>

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

# <font color="#004D7F"> Problema #4: Variables almacenadas simultáneamente en columnas y filas

El siguiente dataset presenta uno de los problemas más complejos a la hora de ordenar un dataset. En el que tenemos valores almacenados a modo de columnas y filas.

El dataset `weather` representa las medidiones de temperatura de una estación metereológica en Mexico en la que se han tomado mediciones de tempreatura máxima y mínima durante todos los días durante un periodo de meses. Las variables que codifican el problema son `id`, `date`, `tmax`, `tmin` representando el identificador de la estación de medida, la fecha de la medición y la variable de temperatura respectivamente.

No obstante el dataset original plantea un diseño de "calendario", en el que cada fila representa un mes. Además, cada mes tiene dos entradas independientes para la temperatura mínima y máxima.

In [ ]:
df_weather = pd.read_csv("./data/weather-raw.csv")

In [ ]:
df_weather.head(8)

El dataset tidy especifica como unidad observacional el día concreto, unificando la fecha de la medición y eliminando así la necesidad de utilizar variables para cada componente. Además de esta forma podemos tener una representación `sparse` que elimine la necesidad de incluir los datos perdidos de manera __explícita__.

In [ ]:
df_weather_tidy = pd.read_csv("./data/weather-tidy.csv")
df_weather_tidy.head(10)

Para obtener la versión tidy de este dataset tenemos realizar los siguientes pasos:
- Realizar una operación de reshaping de tipo `melt` sobre las colvars represetando los días para obtener una única columna indicando el día de la medición.
- Generar una nueva variable que combine el dia, mes y año en una única fecha.
- Eliminar los datos perdidos.
- Realizar una operación de reshaping inversa al `melt`, comunmente conocida como `spread`o `pivot` y disponible en pandas como `pivot_table`. Para obtener una variable individual para cada medida (`tmax` y `tmin`)
- Renombrar variables y reordenar según corresponda

In [ ]:
def extractDay(code):
    pattern = "d(\d+)"
    match = re.search(pattern, code)
    if match:
        return int(match.group(1))
    else:
        return np.nan

def computeDate(year, month, day):
    try:
        return pd.to_datetime( datetime.datetime(year, month, day) )
    except:
        return np.nan

In [ ]:
df_weather_tidy_ex = (df_weather
                        .melt(
                            id_vars = ["id", "year", "month", "element"],
                            var_name = "day",
                            value_name = "value")
                        .assign(day = lambda df: df.day.map(extractDay))
                        .dropna()
                        .assign(Date = lambda df: 
                                 df.apply(lambda row: computeDate(row.year, row.month, row.day), axis = 1))
                        .pivot_table(index = ["id", "Date"], columns = "element", values = "value")
                        .reset_index(drop = False)
                        .rename_axis(None, axis=1)               
                      )

In [ ]:
df_weather_tidy_ex.head(10)

<a id="sectionp5"></a>

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

# <font color="#004D7F"> Problema 5: Múltiples tipos en la misma tabla

Este problema conocido como normalización identifica datos que se encuentran potencialmente repetidos al incluir todas las variables de identificación de la unidad observacional en otra unidad obersavacional que represente un conjunto de mediciones.

Por ejemplo en el dataset `billboard` anterior estamos incluyendo toda la información referente a la canción en cada entrada para identificar el rango en una semana concreta. Esto supone una gran cantidad de información repetida. La representación ideal normalizará este modelo en dos tablas, una para la información de la canción y otra para las mediciones de ranking. Relacionando las dos con una variable de identificación (modelo relacional)

In [ ]:
df_bill_norm_tracks = pd.read_csv("./data/billboard-norm-tracks.csv")
df_bill_norm_ranks = pd.read_csv("./data/billboard-norm-ranks.csv")

display(df_bill_norm_tracks.head(8))
display(df_bill_norm_ranks.head(8))

Para obtener la representación normalizada de este conjunto de datos debemos realizar los siguientes pasos:

Para crear la tabla `tracks`:

- Eliminar las columnas `Date` y `Ranks` y eliminar todas las filas duplicadas resultantes.
- Crear una nueva columna `Id` que sea un identificador con un valor único para cada caso
- Reordenar y renombrar si es necesario

In [ ]:
df_bill_norm_tracks_ex = (df_bill_tidy 
                           .drop(["Date", "Rank"], axis = 1)
                           .drop_duplicates()
                           .reset_index(drop = True)
                           .assign(Id = lambda df: df.index)
                           [["Id", "Year", "Track", "Artist", "Time", "Genre"]]
                         )

In [ ]:
display(df_bill_norm_tracks_ex.head(8))

Para crear la tabla `ranks`:

- A partir de la tabla original, añadir la columna `Id` para cada caso (debe identificar correctamente la canción conforme a la tabla `tracks`). Para esto podemos hacer un `merge` entre la tabla original y la nueva creata `tracks`.
- Eliminar, renombrar y reordenar las columnas resultantes si es necesario

In [ ]:
df_bill_norm_ranks_ex = (pd.merge(
                            df_bill_tidy, 
                            df_bill_norm_tracks, 
                            on = ["Year", "Track", "Artist", "Time", "Genre"])
                          [["Id", "Date", "Rank"]]
                        )

In [ ]:
display(df_bill_norm_ranks_ex.head(8))

<a id="sectionp6"></a>

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

# <font color="#004D7F"> Problema 6: Un tipo dividido en varias tablas

Este último problema es el opuesto al anterior, en el que nuestros datos están divididos en distintas tablas aun representando el mismo modelo y existe información implícita en la representación, por ejemplo en el nombre de las tablas o los ficheros.. 

Este es el caso del dataset `baby-names`, que contiene un estudio sobre la frecuencia de los nombres que se les ponen a los bebes en USA en distintos años. Este dataset viene en un formato que proporciona un fichero por año, donde el año viene especificado en el nombre del fichero.

Este dataset tiene las variables `year`, `rank`, `name`, `frequency` y `sex`, pero la variable year está implícita en los datos (nombre del fichero) y no aparece en el modelo.

In [ ]:
display( pd.read_csv("./data/2014-baby-names-raw.csv").head(5) )
display( pd.read_csv("./data/2015-baby-names-raw.csv").head(5) )

La versión tidy agregaría las distintas tablas y capturaría esta información del nombre de los ficheros:

In [ ]:
display( pd.read_csv("./data/baby-names-tidy.csv").head(5) )

Para obtener la representación tidy de este conjunto de datos debemos realizar los siguientes pasos:
- Cargar cada fichero en un DataFrame diferente en `pandas` capturando en una lista por ejemplo el nombre del fichero.
- Utilizar expresiones regulares para extraer el año del nombre del fichero.
- Para cada DataFrame añadir una columna `Year` indicando el año correspondiente.
- Concatenar los datasets.
- Renombrar y reordenar si es necesario

In [ ]:
def extractYear(name):
    pattern = "^(\d{4})"
    match = re.search(pattern, name)
    
    if match:
        return match.group(1)
    else:
        return np.nan
    
def readDfByYear(path, name):
    year = extractYear(name)
    return (pd.read_csv("{}/{}".format(path, name))
              .assign(Year = year)
           )

In [ ]:
path = "./data"
files = ["2014-baby-names-raw.csv", "2015-baby-names-raw.csv"]

dfs = list(map(lambda f: readDfByYear(path, f), files))

df_baby_tidy_ex = (pd.concat(dfs)
                      .rename(columns = {"rank": "Rank", "name": "Name", "frequency": "Freq", "sex": "Sex"})
                      [["Year", "Name", "Sex", "Rank", "Freq"]]
                  )

In [ ]:
df_baby_tidy_ex.head(10)

<div style="text-align: right"> <font size=5> [<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:#004D7F">](#indice)</i></font></div>

---

<div style="text-align: right"> <font size=6><i class="fa fa-coffee" aria-hidden="true" style="color:#004D7F"></i> </font></div>